# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
# *.a
*.lib

# Executables
*.exe
*.out
*.app

#Python Cache
__pycache__

#Nintendo Dol
*.dol

#Build path
KAMEK-BUILD

#ISO Data
gamedata/*

#Debug objects
tmp-*/
*.ilk
*.pdb

#Clang template
clang-guide.txt

#log
log.txt

#compiler
compiler/

#Kuribo
!tools/KuriboConverter/*